.card {
    width: 50%;
    margin: 2rem auto;
    display: flex;
    align-content: center;
}

.card_content {
    flex: 3;
}

.img {
    flex: 1;
    max-width: 20%;
    
}
/* .content_box {
    display: grid;
    grid-template-columns: 3fr 1fr;
} */

.content_box {
    display: flex;
}

