.right {
  background-color: var(--primary);
  width: 40%;
  min-height: 100vh;
  text-align: center;
  padding-top: 12rem;

  display: flex;
  flex-direction: column;
}

.message {
  font-size: 4rem;
}

.secondMessage {
  font-size: 3.5rem;
}
