.parent {
    background-color: var(--bg-grey);
    margin-top:0;
    width: 100vw;
    height: 100vh;
    overflow-y:hidden;
    /* text-align: center; */
}

.content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 2%;
    padding: 1rem 2rem;
    height: 100%;
}



