.paper {
    min-height: 10vh;
    max-height:90vh;
    padding: 1rem 0.5rem;
    margin-bottom: 3rem;
    overflow: auto;
}

.container {
    padding: 1rem 0;
    height:100vh;
    /* overflow: auto; */
}