.centre {
  background-color: var(--bg-grey);
  min-height: 00vh;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5rem 6rem;
  line-height: 1.2;
  text-align: center;
}

.logo {
  pointer-events: none;
  width: 20%;
}

.firstMessage {
  color: var(--primary);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.2rem;
}

.secondMessage {
  font-size: 1.5rem;
  color: var(--secondary);
  font-weight: bold;
  margin: 0;
}

.avatar {
  display: flex;
  justify-content: center;
  width: 100%;
}
